.not-found-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 10px;
}
.info{
  display: flex;
  justify-content: center;
}
.container{
  box-shadow: 4px 4px 8px #2c3e50; 
  width: 80%;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-around;
  align-items: center;
}

.container > img{
  background-color: yellow;
}